body
{
  font-family: 'Courier New', Courier, monospace;
  background-color: darkturquoise;
}

.header
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
}

.btn
{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  border-radius: 5px;
}

.btn:hover
{
  background-color: gray;
  transform: scale(1.25);
}

.card
{
  position: relative;
  background-color: coral;
  border: 5px solid darkblue;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.card img
{
  width: 100%;
  display: block;
}
