body
{
  font-family: 'Courier New', Courier, monospace;
  background-color: darkturquoise;
}

.header
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
}

.btn
{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  border-radius: 5px;
}

.btn:hover
{
  background-color: gray;
  transform: scale(1.25);
}

.cardNotFlipped
{
  height: '100px';
  width: '75px'; 
  background-color: 'black'; 
  border-style: 'solid'; 
  border-color: 'red';
}

.cardFlipped
{
  height: '100px'; 
  width: '75px'; 
  background-color: 'lightblue'; 
  border-style: 'solid'; 
  border-color: 'black';
}